body {
  font-family: 'Raleway', sans-serif;
  font-size:25px;
  background-image: url('https://photos.smugmug.com/Baltimore-Maryland/i-cCxK57c/0/X2/Gazebo,%20Trees%20and%20Bench%20at%20Cylburn%20Arboretum,%20Baltimore,%20Maryland-X2.jpg')
}

.quote-box {
  background: rgba(128, 128, 128, .8);
  width:450px;
  position:relative;
  margin:auto;
  padding: 80px 50px;
  border-radius: 3px;
  margin:8% auto auto auto;
}

.buttons{
  width:450px;
  
}

.button {
  background-color:#fff;
  height:38px;
  border:none;
  border-radius:3px;
  float:right;
  margin:10px;
}

small {
  display:block;
  text-align:right;
}